div{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: fixed;
    /* animation: move 10s ease 20; */
}
@keyframes move {
    0%{background-image: url("1.jpg");}
    25%{background-image: url("2.jpg");}
    50%{background-image: url("3.jpg");}
    75%{background-image: url("4.jpg");}
    100%{background-image: url("5.jpg");}
}